<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />

<body>
  <%- include('../includes/navigation.ejs') %>
  <h1>Nothing there yet!</h1>
</body>
<%- include('../includes/end.ejs') %>
